.table{

    width: 95%;
    margin-top: 80px;
    margin-left: 2%;


}

 
/*.detalles{

background-color: #212121;
margin-top: 0%;
margin-left: 20%;
border-radius: 20px;
width: 850%;
height: 200px;

}*/

.detalles{
    background-color: #212121;
    width: 100%;
    height: 720px;
    position: relative;
    min-width: 400px;
}

.player{

  width: 100vw;
  height: 100vh;
  
}

/*GanuButtomStyle*/

.ganu-btn-live{
    margin-right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  transition:all 0.2s;
  outline:none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100;
  }
  
  .ganu-btn-live:hover{
    outline: none;
    background: linear-gradient( -90deg,rgba(255, 255, 255, 0), #ffffff34);
    color: white;
    box-shadow: -0px 0px 0px #ffffff;
  
  
  }
  
  .ganu-btn-live:active{
    
      background-color: #ffffff;
      outline: rgb(255, 255, 255);
      /*background: linear-gradient( -90deg,#ffffff34, #ffffff34);*/
      color: rgb(34, 34, 34);
      /*box-shadow: eje-x eje-y glow #00000;*/
      box-shadow: 2px 2px 20px rgb(255, 255, 255) ;
      
      /*border-radius: 5px;*/
    }

    .live-on{

      width: fit-content; 
      height: fit-content; 
      padding-left: 5px;
      padding-right: 5px;
      margin-left:10px;
      font-weight: bold;
      background-color: #ff0000;
      outline: rgb(255, 0, 0);
      /*background: linear-gradient( -90deg,#ffffff34, #ffffff34);*/
      color: rgb(255, 255, 255);
      /*box-shadow: eje-x eje-y glow #00000;*/
      box-shadow: 2px 2px 20px rgb(255, 0, 0) ;
      border-radius: 5px;
      transition: all 1s;
      

    }

    .live-off{
      
      width: fit-content; 
      height: fit-content; 
      padding-left: 5px;
      padding-right: 5px;
      margin-left:0.5%;
      font-weight: bold;
      background-color: #380000;
      outline: rgb(255, 0, 0);
      /*background: linear-gradient( -90deg,#ffffff34, #ffffff34);*/
      color: rgb(255, 255, 255);
      /*box-shadow: eje-x eje-y glow #00000;*/
      border-radius: 5px;
      

    }
      

    /*.hide{
      display: 	none;
      
    }*/

    #registrarAsistencia{

    font-weight:500 ;
    margin-left:74%;
    
    }
