

.table{

    width: 95%;
    margin-top: 80px;
    margin-left: 2%;


}

 
/*.detalles{

background-color: #212121;
margin-top: 0%;
margin-left: 20%;
border-radius: 20px;
width: 850%;
height: 200px;

}*/

.detalles{
    background-color: #212121;
    width: 100%;
    height: 720px;
    position: relative;
    min-width: 400px;
}

#player{
  position:relative;
  left: 10%;
  margin-top: 3.5%;
  min-width: -100px;
  width: 1505px;
  height: 850px;
  
}

/*GanuButtomStyle*/

.ganu-btn-live{
    margin-right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  transition:all 0.2s;
  outline:none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100;
  }
  
  .ganu-btn-live:hover{
    border: none;
    outline: none;
    background: linear-gradient( -90deg,rgba(255, 255, 255, 0), #ffffff34);
    color: white;
    box-shadow: -0px 0px 0px #ffffff;
  
  
  }
  
  .ganu-btn-live:active{
      border: none;
      background-color: #ffffff;
      outline: rgb(255, 255, 255);
      /*background: linear-gradient( -90deg,#ffffff34, #ffffff34);*/
      color: rgb(34, 34, 34);
      /*box-shadow: eje-x eje-y glow #00000;*/
      box-shadow: 2px 2px 20px rgb(255, 255, 255) ;
      
      /*border-radius: 5px;*/
    }

    .ganu-btn-azul{
    margin-right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: #B0AB97;
    border-radius: 20px;
    transition:all 0.1s;
    outline:none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100px  ;
    }
    
    .ganu-btn-azul:hover{
      outline: none;
      background: linear-gradient( -90deg,rgba(255, 255, 255, 0), #ffffff34);
      color: #B0AB97;
      box-shadow: -0px 0px 0px #B0AB97;
      
    
    }
    
    .ganu-btn-azul:active{
        border: none;
        background-color: #B0AB97;
        outline: rgb(255, 255, 255);
        /*background: linear-gradient( -90deg,#ffffff34, #ffffff34);*/
        color: #000000;
        /*box-shadow: eje-x eje-y glow #00000;*/
        box-shadow: 2px 2px 20px #B0AB97 ;
        font-weight: 100px  ;
        /*border-radius: 5px;*/
      }

      

    #tarjetPrestream{

      margin-top: 10%;
      margin-left:  20%; ;
      background-color: #212121;
      color: #ffffff;

    }

    .gif-live{

width: 20px;

    }

    .live-inicio{

      margin-bottom: -3px;
      margin-right: 3px;
      font-weight:700;
      color:#ffffff;
      margin-left: 380px;
    }


    .tarjetImg{

      background-color: #212121;; 
      background:url("./assets/imgs/Tarjeta\ Aniversary\ no\ txt\ W&B.png");
      background-size: cover;
      height: 50vh;
      
      

    }

    @media only screen and (max-width:767px) {
      .tarjetImg{

        display: none;
        background-color: #212121;; 
        background-size: cover;
        height: 50vh;

      }
    }

    .tarjetTittle{


      background: #212121;


    }

    .tarjet{

      padding-bottom: 5vh;

    }

    .tituloTarjet{

      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 2vw;
      color:rgb(255, 255, 255);


      
      margin-top: 10vh;
      margin-left: 4vw;
      margin-right: 1vw;

    }




        /*Resolucion media*/

        @media only screen and (max-width:768px) {
          .tituloTarjet{
    
            font-size: 28px;
            color:rgb(255, 255, 255)
    
          }
        }  

  
        /*Resolucion chica*/

    @media only screen and (max-width:701px) {
      .tituloTarjet{

        font-size: 28px;
        color:rgb(255, 255, 255);

      }
    }

    


    .subrrallado{

      background: #B0AB97; 

      height: 1%; 
      width: 25vw; 

      margin-left: 4vw;
      margin-top: 1vh;


    }


    .fecha{

      color: #B0AB97;
      
      margin-top: 2vh;
      margin-left: 4vw;

      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 1vw;


     }
      
            /*Resolucion chica*/
    
        @media only screen and (max-width:758px) {
          .fecha{
    
            font-size: 15px;
            color:#B0AB97
    
          }
        }

        .btnTarjet{

          background-color: #B0AB97;
          border: none;
          box-shadow: 5px 5px 15px #00000010 ;
          color: #2e2e2e;


          font-weight:bold;
          font-family: 'Montserrat', sans-serif;
          font-size: 2vh;

          height: 7vh;
          border-radius: 0.5vw;



        }

        .btnTarjet:hover{

          background-color: #B0AB97;

          font-weight:bold;
          font-family: 'Montserrat', sans-serif;


        }

        .btnTarjet:active{

          background-color: #B0AB97;

          font-weight:600;
          font-family: 'Montserrat', sans-serif;


        }

    
