:focus {
    outline: none !important;
  }



  .prev{

    background-color: #131313;
    width: 100%;
    height: 300px;
    margin-top: 5% !important;
   
    display: block;
  }

  .sensorBar{

    position: relative;
    background-color: #212121;
    width: 100%;
    height: 50px;
    margin-top: 1%;
    display: flex;
  }

  .indicador{

    background-color: rgb(0, 255, 0);
    width: 20px;
    height: 20px;
    margin-top: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    margin-left: 3%;
    margin-right: 20px;
    
    box-shadow: 0px 0px 20px rgb(30, 255, 0) ;

  }

  .textLive{

    position: absolute;
    vertical-align: middle;
    color: white;
    transform: translate(0,-50%);
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 20px;
    font-weight: 600;
    
  }

  #player{
    position:relative;
    min-width: -100px;
    width: 532px;
    height: 300px;
  
    
  }

.navbar{

  background-color: #212121;
  height: 70px;


}

.carbone-logo-bll{

  margin-right: 20px;


}

.bll2{

  color: white;
  font-weight: 100;

}

.mdl-button{
  float: right;
  background-color: #212121;
  border: white;
  color: white;
  border-width: 2px;

}

